<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="js/jquery/2.0.0/jquery.min.js"></script>
<script src="js/vue/2.5.16/vue.min.js"></script>
<script src="js/axios/0.17.1/axios.min.js"></script>
<head>

</head>
<body>
<div id="workingArea">
    <input type="text" v-model="sql"><br>
    <input type="text" v-model="varable"><br>
    <input id="categoryPic"  type="file" name="image" @change="getFile($event)" />
    <button @click="list" name="上传"></button>
</div>
</body>
<script>
    $(function (){
        var data = {
            url:"read",
            sql:"",
            varable:"",
            file:null,
            message:[],
        }
        var vue = new Vue({
                el: '#workingArea',
                data: data,
                methods:{
                    list:function (){
                        var url = this.uri;
                        var formData = new FormData();
                        formData.append("file",this.file);
                        formData.append("sql",this.sql);
                        formData.append("variable",this.varable)
                        axios.post("read",formData).then(function (response){
                            data.message=response.data;
                        });
                    },
                    getFile: function (event) {
                        this.file = event.target.files[0];
                    },
                }
        })
    })
</script>
</html>